@import url('https://fonts.googleapis.com/css2?family= Krona +One & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #735F32;
    --cor-terciaria: #C69749;
    --cor-hover: #282A3A;
}

* {margin: 0;
    padding: 0;
}

body {
  
    box-sizing: border-box;
    background-color:var(--cor-primaria);
    color: var(--cor-terciaria);
}

.cabecalho {
    padding: 2% 0% 0% 12%;
}

.cabecalho__menu {
    display: flex;
    gap: 15px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size:1rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    
    
}
.cabecalho__menu__link:hover{
    background-color: var(--cor-hover);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
   padding: 3.9% 12%;
   gap: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.apresentacao__conteudo__titulo{
    font-size: 2rem;
    font-family:'Krona one', sans-serif;
    color: var(--cor-secundaria);
    
}

.apresentacao__conteudo__texto {
font-size: 1.5rem;
font-family: 'Montserrat', sans-serif;
color: var(--cor-secundaria);

}

.apresentacao__links{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;

}

.apresentacao__links__subtitulo{
font-family: 'Krona One', sans-serif;
color: var(--cor-secundaria);
font-weight: 400;
font-size: 1.5rem;
width: 50%;
}

.apresentacao__links__Links{
display: flex;
justify-content: center;
gap: 10px;
border: 1px solid var(--cor-terciaria);
width: 90%;
text-align: center;
border-radius: 10px;
font-size: 1.5rem;
font-weight: 600;
padding: 1px 0;
text-decoration: none;
color: var(--cor-secundaria);
font-family: 'Montserrat', sans-serif;

}

.apresentacao__foto{
    width: 30px;
    text-align: justify;
}
.apresentacao__links__Links:hover {
background-color: var(--cor-hover);

}


.apresentacao__rodape {
    padding: 5px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.apresentacao__conteudo__texto__curriculo {
    font-size: 1rem;
    gap: 32px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    color: var(--cor-secundaria);
    
    
}
.apresentacao__about {
    padding: 9.4% 12%;
     display: flex;
     align-items: center;
     justify-content: space-between;}
     
     .apresentacao__curriculo {
        padding: 2.08% 12%;
         display: flex;
         align-items: center;
         justify-content: space-between;}
         
         .cabecalho__menu__link__curriculo{

border: 2px solid var(--cor-terciaria);
text-align: center;
border-radius: 10px;
font-size: 1rem;
padding: 0.1%;
font-weight: 600;
text-decoration: none;
color: var(--cor-secundaria);
font-family: 'Montserrat', sans-serif;


         }
         .cabecalho__menu__link__curriculo:hover{
            background-color: var(--cor-hover);
         }
         .espacamento__curriculo{
            padding: 1%;
         }

         .video__cent {
            padding: 1.9%;
            display: block;
        width: 68%;
        margin: 0 auto;
         
         }
.foto__about{
    border-style: ridge;
    border-color: var(--cor-terciaria);
    width: 30%;
}

.foto__index{
    width: 45.08%;
}

.foto__curriculo{
    width: 30%;
}

@media (max-width: 967px ){

    .cabecalho {
        padding: 3%;
    }

    .cabecalho__menu{
        justify-content: center;

    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5% 10%;
        justify-content: center;
        width: auto;
    }

        .apresentacao__conteudo{
            padding: 5% 10%;
            width: auto;
            justify-content: space-between;
                 
        }
    .apresentacao__about {
        flex-direction: column-reverse;
        width: auto;
        justify-content: space-between;
    gap: 50px;

    }
    .apresentacao__curriculo {
        flex-direction: column-reverse;
        width: auto;
    }

    .video__cent {
        padding: 25% 0 26% 0;
        width: 21.5rem;
        
    }

    
    .foto__index {
        width: 90%;
    }

    .foto__about{
        width: 60%;
    }

    .foto__curriculo {
        width: 60%;
    }


    

}
    

